/target
/logs
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.dir-locals.el

/*.log
/*-init.clj
/resources/public/js/compiled
/resources/public/contracts
out
.rebel_readline_history